<div id="app">
  <section class="charts">
    <div class="container-fluid">
      <header>
        <h1 class="h3">All Leads</h1>
      </header>
      <div class="row">
        <%= form_tag('/leads', method: :get) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "Search" %>
        <% end %>

      </div>

      <div class="row">
        <div class="table-responsive leads-table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th v-on:click="updateSortAttribute('created_at')">Created</th>
                <th v-on:click="updateSortAttribute('first_name')">First Name</th>
                <th v-on:click="updateSortAttribute('last_name')">Last Name</th>
                <th v-on:click="updateSortAttribute('email')">Email</th>
                <th v-on:click="updateSortAttribute('phone')">Phone</th>
                <th v-on:click="updateSortAttribute('appointment_date')">Appointment Date</th>
                <th>Converter Notes</th>
              </tr>
            </thead>
            <tbody v-for="lead in sortedLeads" v-on:click="expand(lead)">
                <tr>
                  <td>{{ moment(lead.created_at).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td>{{ lead.first_name }}</td>
                  <td>{{ lead.last_name }}</td>
                  <td><a v-bind:href="'/leads/' + lead.id + '/edit'">{{ lead.email }}</a></td>
                  <td>{{ lead.phone }}</td>
                  <td>{{ moment(lead.appointment_date).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td>{{ lead.notes }}</td>
                </tr>
                <tr v-if="lead.showEvents">
                  <td colspan="100%">
                    <p v-if="lead.events.length === 0">No Events</p>
                    <p v-for="event in lead.events">
                      {{ event.name.toUpperCase() }} - {{ moment(event.updated_at).format('dddd MMM Do YYYY, h:mm a') }}
                    </p>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

